<?xml version="1.0"?>
<!--
    Object Manager Configuration for Customer Feedback
    Author: Developers-Alliance team
    Copyright: Copyright (c) 2024 Developers-alliance (https://www.developers-alliance.com)
    Website: https://developers-alliance.com
    Package: Devall_CustomerFeedback
    Version: 1.0.0

    This file configures virtual types, preferences, and other object manager settings for the Customer Feedback module in Magento. It defines data providers, collections, and API interface implementations specific to the module.
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Devall\CustomerFeedback\Model\ResourceModel\Feedback\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_feedback</argument>
            <argument name="resourceModel" xsi:type="string">Devall\CustomerFeedback\Model\ResourceModel\Feedback</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customerfeedback_feedback_listing_data_source" xsi:type="string">Devall\CustomerFeedback\Model\ResourceModel\Feedback\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Devall\CustomerFeedback\Api\Data\FeedbackInterface" type="Devall\CustomerFeedback\Model\Feedback" />
    <preference for="Devall\CustomerFeedback\Api\FeedbackRepositoryInterface" type="Devall\CustomerFeedback\Model\FeedbackRepository" />
    <preference for="Devall\CustomerFeedback\Api\Data\FeedbackSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Devall\CustomerFeedback\Api\FeedbackManagementInterface" type="Devall\CustomerFeedback\Model\FeedbackManagement" />

</config>
